/* Utilities = Classes used over whole site */
.container{
    max-width: 1100px;         
    /* This max width will ensure that the container size 
    would not increase after 1100px width of screen */
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    /* This flex is given center values
    for creating the utility class.Later it can be
    changed according to the need */
    align-items: center;
    height: 100% ;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* This grid template is given equal fractions
    for creating the utility class. */
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Height is 100% so that it can cover whole 
    parent div */
}


.grid-3{
    grid-template-columns: repeat(3,1fr);
    /* Grid of 3 columns */
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 40px;
    margin: 10px;
    color: #333;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: var(--ourblue);
    border-radius: 5px;
}

.btn-outline{
    background-color: transparent;
    border: 1px #fff solid;
}

.btn:hover{
    transform: scale(0.98);
}

.text-center{
    text-align: center;
}


/* Background and button colors */
.btn-primary,.bg-primary{
    background-color: var(--ourblue);
    color: #fff;
}
.btn-secondary,.bg-secondary{
    background-color: var(--secondary-color);
    color: #fff;
}
.btn-dark,.bg-dark{
    background-color: var(--dark-color);
    color: #fff;
}
.btn-light,.bg-light{
    background-color: var(--light-color);
    color: #333;
}


.btn-primary a,.bg-primary a,
.btn-secondary a,.bg-secondary a,
.btn-dark a,.bg-dark a,
.btn-light a,.bg-light a{
 color: white;
}

/* Text sizes */

.lead{
    font-size: 20px;
}
.sm{
    font-size: 1rem;
}
.md{
    font-size: 2rem;
}
.lg{
    font-size: 3rem;    
}
.xl{
    font-size: 4rem;
}


/* margins */

.my-1{
    margin: 1rem auto;
}
.my-2{
    margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0;
}
.my-5{
    margin: 4rem 0;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 3rem;
}
.m-5{
    margin: 4rem;
}

/* Paddings */
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 1.5rem 0;
}
.py-3{
    padding: 2rem 0;
}
.py-4{
    padding: 3rem 0;
}
.py-5{
    padding: 4rem 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 1.5rem;
}
.p-3{
    padding: 2rem;
}
.p-4{
    padding: 3rem;
}
.p-5{
    padding: 4rem;
}


/* ALERT */

.alert{
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
}

.alert i{
    margin-right: 10px;
}

.alert-success{
    background-color: var(--success-color);
    color: white;
}

.alert-error{
    background-color: var(--error-color);
    color: white;
}